.about-section{
  display: flex;
  overflow: hidden;
  
  
}
#about-section{
  height: 120vh;
  scroll-snap-align: flex-end;
}
.left{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-end;
  
  
}
.right{ 
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  gap: 50px;


}
.mockup{
 
  width: 30vw;
}
.principal-text-right{
  font-size: 2.5rem;
}
.span-mission{
  color: #F8BC3B;
}
.paragrafo-about{
  font-size: 1.1rem;
  width: 70%;
 
}
.about-button{
  
  border-radius: 50px;
  width: 25vw;
  height: 7vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
}
.mockups-exemplos{
  display: flex;
  gap: 100px;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  

}
.mockup-exemplo-img{
  flex: 0 0 auto;
  width: 20vw;
}

@media (max-width: 910px) {
  .principal-text-right{
     font-size: 2.0rem;
  }
  .paragrafo-about{
    font-size: 0.8rem;
  }
  .mockup{
    width: 35vw;
  }
}@media (max-width: 802px) {
  .mockup{
    width: 40vw;
  }
}
@media (max-width: 730px) {
  .principal-text-right{
     font-size: 2.0rem;
  }
  .paragrafo-about{
    font-size: 0.8rem;
  }
  .mockup{
    width: 35vw;
  }
  .about-section{
    flex-direction: column-reverse;
    
    
  }
  .right{
    height: 50%;
    width: 100%;
  }
  .left{
    height: 50%;
    width: 100%;
  }
}
@media (max-width: 630px) {
 
  .mockup{
    width: 40vw;
  }
 
}
@media (max-width: 510px) {
 
  .mockup{
    width: 40vw;
  }
  .about-button{
    font-size: 0.8rem;
  }
}
@media (max-width: 470px) {
 
  .mockup{
    width: 45vw;
  }
  .about-button{
    font-size: 0.6rem;
  }
}
@media (max-width: 410px) {
 
  .mockup{
    width: 50vw;
  }
  .about-button{
    font-size: 0.6rem;
  }
  .principal-text-right{
    font-size: 1.5rem;
 }
}