#text-titulo-members{
    font-size: 2.0rem;
    text-align: center;
}
#members-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10vh;

}
.span-equipe{
    color: #F8BC3B;

}
.members-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
  
    
}
.member-card{
    display: flex;
    width: 80%;
    height: 18vh;
  
    gap: 5px;

    
}
.left-member-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}
.right-member-card{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
width: 75%;
}
.right-member-card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    }
.left-member-card2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 75%;
    }
.foto{
    border-radius: 100px;
    border: 6px solid #F8BC3B;
    width: 150px;
}
.foto2{
    border-radius: 100px;
    border: 6px solid #7291FF;
    width: 150px;
}
.foto3{
    border-radius: 100px;
    border: 6px solid #B840A1;
    width: 150px;
}

.paragrafo-w{
    width: 60%;
    text-align: left;
}
.paragrafo-w2{
    width: 60%;
    text-align: right;
}