/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section{
  scroll-snap-align: center;
  height: 100vh;
  width: 100vw;

}
button{
  color: white;
  
}
.container{
  background-color: #110726;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: white; 
 
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

a {
  text-decoration: none; 
  color: inherit;
  cursor: pointer;
}

li{
  list-style: none;
}