/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}
html {
  
  scroll-behavior: smooth;
}

section{
  
  height: 100vh;
 
  

}
button{
  color: white;
  
}
.container{
  background-color: #110726;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: white; 
  
 
}
.container{
  background-image: url('/background.svg');
  background-size:cover; /* Ajusta a imagem para cobrir toda a área */
  background-position: center;
  background-repeat: no-repeat;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

a {
  text-decoration: none; 
  color: inherit;
  cursor: pointer;
}

li{
  list-style: none;
}
/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
  height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Estilizando a trilha da barra de rolagem */
::-webkit-scrollbar-track {
  background: #110726; /* Cor do fundo da trilha */
   /* Bordas arredondadas */
}

/* Estilizando o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #F8BC3B; /* Cor do polegar */
  border-radius: 10px; /* Bordas arredondadas */
}

/* Cor do polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 206, 99);
}
